.inputError {
  border: 2px solid #7c1b1b;
  background-color: rgba(133, 49, 49, 0.58);
  border-radius: 2px;
}

.inputSuccess {
  border: 2px solid #53b436;
  background-color: #408531;
  border-radius: 2px;
}
