<h1>Header</h1>
<nav>
  <a
    class="button"
    routerLink=""
    routerLinkActive="activebutton"
    [routerLinkActiveOptions]="{ exact: true }"
    >profile</a
  >
  <!--  <a class="button" routerLink="/profile" routerLinkActive="activebutton">profile</a>-->
  <a class="button" routerLink="/login" routerLinkActive="activebutton">login</a>
  <a class="button" routerLink="/todos" routerLinkActive="activebutton">todolists</a>
  <a class="button" routerLink="/users" routerLinkActive="activebutton">users</a>
</nav>
<router-outlet></router-outlet>
