<p>login works!</p>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <input
    type="text"
    formControlName="firstName"
    required
    [ngClass]="{
      inputError: firstName!.invalid && (firstName!.dirty || firstName!.touched),
      inputSuccess: firstName!.valid
    }"
  />
  <div *ngIf="firstName!.invalid && (firstName!.dirty || firstName!.touched)">
    <div *ngIf="firstName!.errors?.['required']">Name is required.</div>
  </div>

  <input type="text" formControlName="lastName" />
  <div *ngIf="lastName!.invalid && (lastName!.dirty || lastName!.touched)">
    <div *ngIf="lastName!.errors?.['required']">Last name is required.</div>
  </div>

  <input type="text" formControlName="email" />
  <div *ngIf="email!.invalid && (email!.dirty || email!.touched)">
    <div *ngIf="email!.errors?.['required']">Email is required.</div>
    <div *ngIf="email!.errors?.['pattern']">Invalid email address</div>
  </div>

  <input type="password" formControlName="password" />
  <div *ngIf="password!.invalid && (password!.dirty || password!.touched)">
    <div *ngIf="password!.errors?.['required']">Password is required.</div>
  </div>

  <button [disabled]="profileForm.invalid" type="submit">+</button>
</form>

<h2>first name: {{ profileForm.value.firstName }}</h2>
<h2>last name: {{ profileForm.value.lastName }}</h2>
<h2>email name: {{ profileForm.value.email }}</h2>
<h2>pass name: {{ profileForm.value.password }}</h2>
